<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Number</title>
</head>
<body>
<h1>Минимальное число: <span th:text="${min}"> MIN </span></h1>
<h1>Максимальное число: <span th:text="${max}"> MAX </span></h1>
<h1 style="color: blue">Случайное число: <span th:text="${number}"> NUMBER </span></h1>
<br>
<h1>Минимальное дефолтное число: <span th:text="${min_default}"> MIN DEFAULT </span></h1>
<h1>Максимальное число: <span th:text="${max_default}"> MAX DEFAULT </span></h1>
<h1 style="color: blue">Случайное дефолтное число: <span th:text="${number_default}"> NUMBER </span></h1>
</body>
</html>