<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration form</title>
</head>
<body>
<form th:action="@{/home/form}" th:object="${user}" method="post">
    <label>
        <input type="text" th:field="*{name}" placeholder="Name">
    </label><br><br>

    <label>
    <input type="email" th:field="*{email}" placeholder="Email">
    </label><br><br>

    <label>
    <input type="password" th:field="*{password}" placeholder="Password">
    </label><br><br>

    <button type="submit">SEND</button>

</form>
</body>
</html>